@use '../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Bauhaus';
    src: url('./assets/fonts/Bauhaus/BauhausRegular.ttf');
}

*{
    font-family: 'Montserrat';
}

.jumbo{
    border-bottom: 1px solid white;
}

.my-title{
    font-family: 'Bauhaus';
    font-size: 200px;
}

.contact-title{
    font-family: 'Bauhaus';
    font-size: 150px;
}

.bauhaus{
    font-family: 'Bauhaus';
}

.my-img-home{
    width: 90%;
}

.latest-projects{
    margin-top: 5rem;
}

.card-hover{
    transition: 0.5s;
}

.card-hover:hover{
    transform: scale(1.03);
}

footer > div{
    border-top: 1px solid white;
}

.my-size{
    font-size: 50px;
}

.icon-link:hover{
    color: white;
}